
.user-container img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 5px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info .text {
    line-height: 0;
}
.user-more-info {
    padding:10px 0 10px 0 ;
    background: rgba(233, 244, 255, 0.858);
    border-radius: 10px;
    text-align: center;
}
